.main_h {
  position: fixed;
  max-height: 70px;
  z-index: 999;
  width: 100%;
  padding-top: 17px;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  top: -100px;
  padding-bottom: 6px;
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 766px) {
  .main_h {
    padding-top: 25px;
  }
}

.open-nav {
  max-height: 400px !important;
}
.open-nav .mobile-toggle {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.sticky {
  background-color: rgba(255, 255, 255, 0.93);
  opacity: 1;
  top: 0px;
  border-bottom: 1px solid gainsboro;
}

.logo {
  width: 50px;
  font-size: 25px;
  color: #8f8f8f;
  text-transform: uppercase;
  float: left;
  display: block;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 10px;
}
@media only screen and (max-width: 766px) {
  .logo {
    float: none;
  }
}

nav {
  float: right;
  width: 60%;
}
@media only screen and (max-width: 766px) {
  nav {
    width: 100%;
  }
}
nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
}
@media only screen and (max-width: 766px) {
  nav ul {
    padding-top: 10px;
    margin-bottom: 22px;
    float: left;
    text-align: center;
    width: 100%;
  }

}

nav ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
}
@media only screen and (max-width: 766px) {
  nav ul li {
    width: 100%;
    padding: 7px 0;
    margin: 0;
  }

  nav ul li:hover  {
    color: black;
  }
}

@media only screen and (max-width: 766px) {
  .mypic  {
    height: 200px;
    width: 200px;
    border-radius: 100px;
  }
}

.myLogo  {
  height: 5%;
  width: 4%;
}

.mypic {
  height: 400px;
  width: 400px;
  border-radius: 200px;
  float: right;
}

nav ul a {
  color: rgba(194, 79, 3, 0.94);
  text-transform: uppercase;
  font-size: 12px;
  transition: .3s linear;
}

nav ul a:hover  {
  color: #888888;
}

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
@media only screen and (max-width: 766px) {
  .mobile-toggle {
    display: block;
  }
}
.mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: #8f8f8f;
  display: block;
}

body {
  color: #8f8f8f;
  background: white;
  font-family: "Montserrat", sans-serif;  
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 30px;
  line-height: 1.8;
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-family: "Montserrat", sans-serif;  

}

p {
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 2;
}

.content {
  padding: 50px 2% 250px;
}

.hero {
  position: relative;
  background: #333 url(../assets/ash.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding-top: 110px;
  /* min-height: 800px; */
  height: 100vh;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
}
.hero h1 {
  font-size: 30px;
  line-height: 1.3;
}
.hero h1 span {
  font-size: 70px;
  color: #e8f380;
  border-bottom: 2px solid #e8f380;
  padding-bottom: 12px;
  line-height: 3;
}

.mouse {
  display: block;
  margin: 0 auto;
  width: 26px;
  height: 46px;
  border-radius: 13px;
  border: 2px solid #e8f380;
  bottom: 40px;
  position: absolute;
  left: 50%;
  margin-left: -14px;
}
.mouse span {
  display: block;
  margin: 6px auto;
  width: 2px;
  height: 2px;
  border-radius: 4px;
  background: #e8f380;
  border: 1px solid transparent;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}

.section1  {
  background-color: rgba(255, 255, 255, 0.93);
  height: 700px;
  
}


.section2icons  {
  color: white;
 
}

.row {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0 2%;
}
.row h1  {
  padding: 2%;
}

* {
  box-sizing: border-box;
}

.aboutme  {
  font-size: .7em;
}


/* -_-_-_-_-_-_-_-_-_SKILLS PAGE SETTINGS_-_-_-_-_-_-_-_- */

.skillsmaincontainer  {
  background: linear-gradient(rgba(194, 79, 3, 0.94), rgba(0, 0, 0, 0.5)), url(../assets/service.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: auto;
  width: 100vw;
  opacity: 0.9;
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 766px) {
  .skillsmaincontainer  {
    display: flex;
    flex-direction: column;
  }

}  

.skillscontainer  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: pink; */
}

.myskillscontainer  {
  display: flex;
  flex-flow: row wrap;
  width: 600px;
}

.toolscontainer  {
  /* background-color: lightseagreen; */
  display: flex;
  flex: 2;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
}

.mystoolscontainer  {
  display: flex;
  flex-flow: row wrap;
  width: 7vw;
}

.utilitycontainer  {
  display: flex;
}

.skillsPics1  {
  height: 17%;
  width: 12%;
  margin: 30px;
  
}

.skillsPics2  {
  height: 65px;
  width: 55px;
  
}

.checks  {
  height: auto;
  width: 5vw;
}

.box1  {
  color: #f2f2f2;  
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;       
  align-content: center;
}

.box {
  color: #f2f2f2;
  width: 6vw;
  height: 10vh;
  margin: 1%;
  text-align: center; 
  /* border: 2px solid rgba(57,57,57,.9); */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;       
  align-content: center;
}

.skillicons  {
  height: auto;
  width: 55px;
  /* filter: grayscale(100%); */
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.skillicons:hover {
  filter: grayscale(0%);
}


/* ------------------------MY WORK SETTINGS------------------------ */

.sec03  {
  /* border-bottom: 3px solid #e8f380; */
  width: 30vw;  
  font-size: 2em;
}

.myworkbuttons  {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: stretch;
  align-items: baseline;
  margin-top: 3%;
}

.title  {
  flex: 2;
  font-size: 1.5em;
  padding-left: 2%;
}

.buttondiv  {
  display: block;
  flex: 2;
}

.buttondiv a {
  padding: 8px 13px;
  border: 2px solid rgba(194, 79, 3, 0.94);
  margin: 0 5px;
  -webkit-transition: all .3s; 
  -moz-transition: all .3s; 
  transition: all .3s; 
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: rgba(194, 79, 3, 0.94);
  border-radius: 3px;
  background: 0 0; 
  display: inline-block;

}

.buttondiv a:hover  {
  background: rgba(194, 79, 3, 0.94);
  color: white;
}

.screenshotsContainer  {
  position: relative;
  display: block;
  width: 95%;
  margin-left: 10px;
}

.workMainContainer  {
  margin: 2%;
}

.workpic  {
  position: relative;
  top: 0;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.75);
  width: 26%;
  margin-right: -20px;
}

.workpic:nth-of-type(2)  {
  top: 15px;
}

.workpic:nth-of-type(3)  {
  top: 25px;
  width: 20%;  
}

.workcontent  {
  width: 90%;
  margin-top: 15px;
  margin-left: 1rem;
  margin-bottom: 25px;
  font-size: 1.1em;
}

.workcontent a  {
  color: inherit;
  font-weight: bold;
  font-style: italic;
}

/* -_-_-_-_-_-_-_-_-_-_-_-_-CONTACT ME PAGE SETTINGS -_-_-_-_-_-_-_-_-_-_- */

.contact  {
  width: 100%;
  height: auto;
  min-height: 700px;
  padding: 0;
  overflow: hidden;
  /* color: #f2f2f2; */
  position: relative;
}

.center  {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.contactheading  {
  font-size: 3em;
}

.divider  {
  display: block;
  margin: 30px auto;
  width: 100px;
  height: 2px;
  background-color: rgba(194, 79, 3, 0.94);
}

.contact-desc  {
  margin: 0 auto;
  max-width: 440px;
  font-size: 1.2em;
}

.contact-wrapper  {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.form-wrapper  {
  width: 500px;
  margin: 20px auto;
  padding: 0;
}

.input-wrapper  {
  padding: 0;
  margin-bottom: 10px;
  position: relative;
  transition: all .25s ease;
}

.input-wrapper::before  {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #707070;
  bottom: 0;
  left: 0;
  transition: all .5s ease-in-out;
}

.input-wrapper::after  {
    background-color: #00b7c7;
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: all .5s ease-in-out;
}

.input-label  {
  display: block;
  font-family: Gotham,Helvetica,Arial,sans-serif;
  font-size: .9em;
  font-weight: 700;
  text-transform: uppercase;
  transform: translateY(25px);
  margin-bottom: 10px;
  transition: all .5s ease-in-out;
}


.contact-input  {
  position: relative;
  background: 0 0;
  width: 100%;
  border: none;
  padding: 20px 0 10px;
  margin-bottom: -10px;
  font-size: 1em;
  line-height: 1.3;
  resize: none;
  display: block;
  overflow: hidden;
  box-sizing: padding-box;
  transition: all .25s ease;
}


input  {
  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: visual;
  user-select: text;
  cursor: auto;
  padding: 1px;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
}

textarea {
  -webkit-appearance: textarea;
  background-color: white;
  -webkit-rtl-ordering: logical;
  user-select: text;
  flex-direction: column;
  resize: auto;
  cursor: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  border-width: 1px;
  border-style: solid;
  border-color: initial;
  border-image: initial;
  padding: 2px;
}

.message-btn  {
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  font-family: Gotham,Helvetica,Arial,sans-serif;
  line-height: 1.5;
  padding: 12px 20px 10px;
  margin: 70px auto 0;
  color: rgba(194, 79, 3, 0.94);
  background: 0 0;
  border: 2px solid rgba(194, 79, 3, 0.94);
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  transition: all .3s ease;
}

