.main_h {
  position: fixed;
  max-height: 70px;
  z-index: 999;
  width: 100vw;
  padding-top: 17px;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  top: -100px;
  padding-bottom: 6px;
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 766px) {
  .main_h {
    padding-top: 25px;
    width: 100vw;  
  }
}

.open-nav {
  max-height: 400px !important;
}

.open-nav .mobile-toggle {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.sticky {
  background-color: rgba(255, 255, 255, 0.93);
  opacity: 1;
  top: 0px;
  border-bottom: 1px solid gainsboro;
}

nav {
  float: right;
  width: 60%;
}


@media only screen and (max-width: 766px) {
  nav {
    width: 100vw;
  }
}

nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
}
@media only screen and (max-width: 766px) {
  nav ul {
    padding-top: 10px;
    margin-bottom: 22px;
    float: left;
    text-align: center;
    width: 100vw;
  }

}

nav ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
}
@media only screen and (max-width: 766px) {
  nav ul li {
    width: 100%;
    padding: 7px 0;
    margin: 0;
  }

  nav ul li:hover  {
    color: black;
  }
}

@media only screen and (max-width: 766px) {
  .mypic  {
    height: 100px !important;
    width: 100px !important;
    border-radius: 50px !important;
  }
}

.myLogo  {
  height: 5%;
  width: 4%;
}

.mypic {
  height: 400px;
  width: 400px;
  border-radius: 200px;
  float: right;
}

nav ul a {
  color: rgba(194, 79, 3, 0.94);
  text-transform: uppercase;
  font-size: 12px;
  transition: .3s linear;
}

nav ul a:hover  {
  color: #888888;
}

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
@media only screen and (max-width: 766px) {
  .mobile-toggle {
    display: block;
  }
}
.mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: #8f8f8f;
  display: block;
}

body {
  color: #8f8f8f;
  background: black;
  font-family: "Montserrat", sans-serif;  
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  width: 100% !important;
  margin: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 30px;
  line-height: 1.8;
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-family: "Montserrat", sans-serif;  

}

p {
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 2;
}

ul  {
  list-style: none;
}

.content {
  padding: 50px 2% 250px;
}

.hero {
  position: relative;
  background: url(../assets/ash.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding-top: 110px;
  height: 100vh;
  width: 100vw;
  letter-spacing: 2px;
}

.hero h1 {
  font-size: 30px;
  line-height: 1.3;
}
.hero h1 span {
  font-size: 70px;
  color: white;
  border-bottom: 2px solid #e8f380;
  padding-bottom: 12px;
  line-height: 3;
}


@media only screen and (max-device-width: 750px) {  
  .hero {
    background: url(../assets/ash.jpg) no-repeat;
    -moz-background-size: 400px auto !important;
    -webkit-background-size: 400px auto !important;
    background-size: 400px auto !important;
    background-position:fixed;
    height: auto;
    padding-top: 70px;
    padding-bottom: 80px;
  
  }

  .hero h1  {
    font-size: 25px;
  }

  .mypic  {
    display: none;
  }
  
}

.mouse {
  display: block;
  margin: 0 auto;
  width: 26px;
  height: 46px;
  border-radius: 13px;
  border: 2px solid #e8f380;
  bottom: 40px;
  position: absolute;
  left: 50%;
  margin-left: -14px;
}
.mouse span {
  display: block;
  margin: 6px auto;
  width: 2px;
  height: 2px;
  border-radius: 4px;
  background: #e8f380;
  border: 1px solid transparent;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}

@media only screen and (max-device-width: 750px) {  
  .mouse  {
    display: none;
  }
}

.section1  {
  height: auto;
  
}


.section2icons  {
  color: white;
 
}

.row {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0 2%;
}
.row h1  {
  padding: 2%;
}

* {
  box-sizing: border-box;
}

.aboutme  {
  font-size: .7em;
}


/* -_-_-_-_-_-_-_-_-_SKILLS PAGE SETTINGS_-_-_-_-_-_-_-_- */

.skillsmaincontainer  {
  height: auto;
  width: 100vw;
  opacity: 0.9;
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 766px) {
  .skillsmaincontainer  {
    display: flex;
    flex-direction: column;
  }
  
}  

.skillscontainer  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.myskillscontainer  {
  display: flex;
  flex-flow: row wrap;
  width: 600px;
}

.toolscontainer  {
  display: flex;
  flex: 2;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
}

.mystoolscontainer  {
  display: flex;
  flex-flow: row wrap;
  width: 7vw;
}

.utilitycontainer  {
  display: flex;
}

.skillsPics1  {
  height: 17%;
  width: 12%;
  margin: 30px;
  
}

.skillsPics2  {
  height: 65px;
  width: 55px;
  
}






/* ------------------------MY WORK SETTINGS------------------------ */

.skills-section  {
  background: url(../assets/service.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  width: 100vw;
  height: auto;
  /* min-height: 950px; */
  padding: 0;
  overflow: hidden;
}

.skills-wrapper  {
  padding: 100px;
  height: auto;
}


.skills-flex-wrapper  {
  display: flex;
  font: 100 30px;
  height: auto;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item  {
  flex: 0 0 auto;
  min-height: 200px;
  background: 0 0;
  padding: 15px;
}

.flex-item:nth-child(1) {
  width: 65%;
  max-width: 470px;
  min-height: 450px;

}

@media only screen and (max-width: 1000px) {
  .flex-item:nth-child(1) {
    width: auto;
  }

}

.skills-heading  {
  font-family: Gotham,Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1em;
}

.sprite  {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  position: relative;
  top: 7px;
  display: inline-block;
  vertical-align: text-bottom;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.dev  {
  background-image: url(../assets/settings.png);  

}

.repair {
  background-image: url(../assets/repair.png);  
  
}

.dev-item  {
  display: inline-block;
  border: 2px solid rgba(194, 79, 3, 0.94);
  border-radius: 50%;
  text-align: center;
  margin: 10px 10px 10px 0;
  padding: 0;
  width: 100px;
  height: 100px;
  line-height: 7;
  font-size: 14px;
}

@media only screen and (max-width: 1000px) {
  .dev-item {
    width: 80px;
    height: 80px;
    font-size: 11px;
    line-height: 7;
    margin: 5px 5px 5px 0;
  }
  .skills-heading  {
    margin-left: 15%;
    margin-bottom: 10%;
  }

  .skills-wrapper  {
    padding: 0;
  }

  .content {
    padding: 0px 6% 29px;
    text-align: center;
  }
}

.list  {
  margin-top: 30px;
  margin-left: 20px;
}

.list-item  {
  margin: 10px 0;
  font-size: 20px;
  padding: 5%;
}

.item-svg  {
  margin-right: 10px;
  width: 15px;
  height: 15px;
  
}


.sec03  {
  width: 30vw;  
  font-size: 2em;
}

.myworkbuttons  {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: stretch;
  align-items: baseline;
  margin-top: 3%;
}

.title  {
  flex: 2;
  font-size: 1.5em;
  padding-left: 2%;
  color: rgba(194, 79, 3, 0.94);
}

.buttondiv  {
  display: block;
  flex: 2;
}

.buttondiv a {
  padding: 8px 13px;
  border: 2px solid rgba(194, 79, 3, 0.94);
  margin: 0 5px;
  -webkit-transition: all .3s; 
  -moz-transition: all .3s; 
  transition: all .3s; 
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: rgba(194, 79, 3, 0.94);
  border-radius: 3px;
  background: 0 0; 
  display: inline-block;

}

.buttondiv a:hover  {
  background: rgba(194, 79, 3, 0.94);
  color: white;
}

.screenshotsContainer  {
  position: relative;
  display: block;
  width: 95%;
  margin-left: 10px;
}

.workMainContainer  {
  padding: 2%;
}

.workpic  {
  position: relative;
  top: 0;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.75);
  width: 26%;
  margin-right: -20px;
}

.workpic:nth-of-type(2)  {
  top: 15px;
}

.workpic:nth-of-type(3)  {
  top: 25px;
  width: 20%;  
}

.workcontent  {
  width: 90%;
  margin-top: 15px;
  margin-left: 1rem;
  margin-bottom: 25px;
  font-size: 1.1em;
}

.workcontent a  {
  color: inherit;
  font-weight: bold;
  font-style: italic;
}

.used  {
  display: block;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: -10px;
}

.used-item  {
  display: inline-block;
  padding: 7px 7px 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  color: rgba(194, 79, 3, 0.94);
  background: #333;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: .5px;
}

/* -_-_-_-_-_-_-_-_-_-_-_-_-CONTACT ME PAGE SETTINGS -_-_-_-_-_-_-_-_-_-_- */

.contact  {
  width: 100%;
  height: auto;
  /* min-height: 700px; */
  overflow: hidden;
  position: relative;
}

.center  {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.contactheading  {
  font-size: 3em;
  background: linear-gradient(rgba(194, 79, 3, 0.94), rgba(0, 0, 0, 0.5));
  text-align: center;
  margin-top: 0;
  border-radius: 10px;
  
}

.divider  {
  display: block;
  margin: 30px auto;
  width: 100px;
  height: 2px;
  background-color: rgba(194, 79, 3, 0.94);
}

.contact-desc  {
  margin: 0 auto;
  max-width: 440px;
  font-size: 1.2em;
}

.contact-wrapper  {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.form-wrapper  {
  width: 500px;
  margin: 20px auto;
  padding: 0;
}

.input-wrapper  {
  padding: 0;
  margin-bottom: 10px;
  position: relative;
  transition: all .25s ease;
}

.input-wrapper::before  {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #707070;
  bottom: 0;
  left: 0;
  transition: all .5s ease-in-out;
}

.input-wrapper::after  {
    background-color: #00b7c7;
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: all .5s ease-in-out;
}

.input-label  {
  display: block;
  font-family: Gotham,Helvetica,Arial,sans-serif;
  font-size: .9em;
  font-weight: 700;
  text-transform: uppercase;
  transform: translateY(25px);
  margin-bottom: 10px;
  transition: all .5s ease-in-out;
}


.contact-input  {
  position: relative;
  background: 0 0;
  width: 100%;
  border: none;
  padding: 20px 0 10px;
  margin-bottom: -10px;
  font-size: 1em;
  line-height: 1.3;
  resize: none;
  display: block;
  overflow: hidden;
  box-sizing: padding-box;
  transition: all .25s ease;
}


input  {
  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: visual;
  user-select: text;
  cursor: auto;
  padding: 1px;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
  color: #8f8f8f;
}

textarea {
  -webkit-appearance: textarea;
  background-color: white;
  -webkit-rtl-ordering: logical;
  user-select: text;
  flex-direction: column;
  resize: auto;
  cursor: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  border-width: 1px;
  border-style: solid;
  border-color: initial;
  border-image: initial;
  padding: 2px;
  color: #8f8f8f;
}

.message-btn  {
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  font-family: Gotham,Helvetica,Arial,sans-serif;
  line-height: 1.5;
  padding: 12px 20px 10px;
  margin: 70px auto 0;
  color: rgba(194, 79, 3, 0.94);
  background: 0 0;
  border: 2px solid rgba(194, 79, 3, 0.94);
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  transition: all .3s ease;
}

.message-btn:hover  {
  background: rgba(194, 79, 3, 0.94);
  color: white;
}


@media only screen and (max-width: 766px) {
  p  {
    font-size: .7em !important;
  }

  .hero h1 span {
    font-size: 30px;
  }

  .title  {
  font-size: 1em;  
  }

  .buttondiv a {
    padding: 4px 10px;
    font-size: .8em;
    font-weight: 600;
  }

  .myworkbuttons {
    margin-top: 8%
  }

  .contactheading  {
    font-size: 2em;
  }

  .contact-wrapper {
    width: 90%;
    padding-left: 8%;
  }

  .message-btn  {
    padding: 8px 9px 8px;
    margin: 44px 0 0 90px;
    font-size: 12px;
  }

  #me h1  {
    display: none;
  }

  .used  {
    display: block;
    margin-top: 30px;
    margin-left: -31px;
  }

  /* body {
    width: 100vw;
    margin: 0px;
  }

  html  {
    width: 100vw;
    margin: 0;
  } */
}

/* -_-_-_-_-_-_-_-_-_-_-_-_-FOOTER PAGE SETTINGS -_-_-_-_-_-_-_-_-_-_- */

.myfooter  {
  background: linear-gradient(180deg,rgba(194, 79, 3, 0.94), rgba(0, 0, 0, 0.5) 100%);
  height: 200px;
  min-height: 100px;
  color: #f2f2f2;
}


.myfooter .section-wrapper  {
  padding: 30px 0 40px;
}

.soc  {
  display: block;
  font-size: 0;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.myfooter .soc .soc-item {
  display: inline-block;
  margin: 1rem .5rem;
}

.myfooter .soc .soc-item a {
  display: block;
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
}

.soc-item a:hover {
  transition: all .3s ease;
  transform: scale(1.1) translateY(-5px);
}

.myfooter .copyright-wrapper {
  margin-top: 25px;
  font-size: 13px;
  font-weight: 500;
}

.section-wrapper .cent {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}